body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 30px;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 15px;
}

header, main, footer {
    max-width: 900px;
    margin: auto;
} 
/* .container { used this for understanding auto margin
    max-width: 900px;
    margin: auto;
    padding: 20px;
    border: 2px dashed red;
} */
