body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    max-width: 1300px;
    margin: auto
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 10px;
    color: white;
}

section a{
    text-decoration: none;
    color: white;
}

button a{
    text-decoration: none;
    color: white;
}

button{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    margin-left: 5px;
}
.submit{
    background-color: lightslategray;
}
.sign_in{
    background-color: #4C5FD5;
}

section h1{
    color: black;
    text-align: center;
}
.help{
    background-color: #dadbf1;
    padding: 100px;
    font-size: larger;
    text-align: center;
}

.nav-search{
    display: flex;
    justify-content: center;
}
input{
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    flex: 0.5;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

main section {
    flex: 1 1 45%;
    max-width: 45%;
}

main section a {
    color: #4C5FD5;
    text-decoration: none;
}

footer{
    color: white;
    background-color: black;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    max-height: 1000px;
}

